{% extends "acervo/base.html" %}

{% load static %}


{% block content %}

<main class="inicio">
    <h2 class="titulo-inicio mb-3 fw-bold">Acervo</h2>


    <div class="d-flex justify-content-between align-items-center mb-3 me-4">


        <form method="get" action="{% url 'acervo:listar_imagens' %}" class="d-flex flex-grow-1 me-3 ms-3">
            <input type="text" name="q" class="form-control me-2 flex-grow-1" placeholder="Buscar imagens..." value="{{ query|default:'' }}">
            <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <div class="d-flex align-items-center gap-3">
            
            <div class="dropdown">
                <button class="btn dropdown-toggle d-flex align-items-center gap-1" type="button" data-bs-toggle="dropdown"
                        style="background-color: #1A4623; color:white;">
                    <i class="bi bi-plus-lg"></i> Adicionar
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item btn-verde d-flex align-items-center gap-2" href="{% url 'acervo:upload_imagem' %}"><i class="bi bi-image"></i>Imagem</a></li>
                    <li><a class="dropdown-item btn-verde d-flex align-items-center gap-2" href="{% url 'acervo:upload_artigo' %}"><i class="bi bi-file-earmark-text"></i>Artigo</a></li>
                    <li><a class="dropdown-item btn-verde d-flex align-items-center gap-2" href="{% url 'acervo:upload_link' %}"><i class="bi bi-link-45deg"></i>Link</a></li>
                </ul>
            </div>

    
            <div class="dropdown">
                {% if user.is_authenticated %}
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            style="background-color: #1A4623;">
                        {{ user.username }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item logout-item" href="{% url 'acervo:logout' %}">Sair</a></li>
                        <li><a class="dropdown-item" href="{% url 'acervo:painel_moderacao' %}">Painel do moderador</a></li>
                    </ul>
                {% else %}
                    <a href="{% url 'acervo:login' %}" class="btn btn-dark" style="background-color: #1A4623">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for imagem in imagens %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ imagem.imagem.url }}" class="card-img-top" alt="{{ imagem.titulo_img }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ imagem.titulo_img }}</h5>
                    <p class="card-text">{{ imagem.descricao_img }}</p>
                    <p class="card-text mt-auto"><small class="text-muted">Autor: {{ imagem.autor_img }}</small></p>
                </div>

                {% if user.is_authenticated and user.is_staff %}
                <div class="card-footer text-center">
                <a href="{% url 'acervo:editar_imagem' imagem.pk %}" 
                   class="btn btn-sm btn-outline-primary fw-semibold">
                    <i class="bi bi-pencil-square"></i> 
                </a>
                <a href="{% url 'acervo:excluir_imagem' imagem.pk %}"
                   class="btn btn-sm fw-semibold"
                   onclick="return confirm('Tem certeza que deseja excluir esta imagem?');">
                    <i class="bi bi-trash"></i> 
            </div>
            {% endif %}
            </div>
        </div>
        {% empty %}
        <p class="text-center">Nenhuma imagem encontrada.</p>
        {% endfor %}
</main>

{% endblock %}
