{% extends "acervo/base.html" %}

{% load static %}


{% block content %}

    <main class="inicio">
        <h2 class="titulo-inicio">Acervo</h2>
        <nav>
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <a href="{% url 'acervo:logout' %}">Sair</a>
            {% else %}
                <a href="{% url 'acervo:login' %}">Fazer login</a>
            {% endif %}
        </nav>
        <div class="dropdown my-3">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    style="background-color: #1A4623; color:white;">
                Adicionar
            </button>
            <ul class="dropdown-menu">
                <li><a class = "dropdown-item" href="{% url 'acervo:upload_imagem' %}">Imagem</a></li>
                <li><a class = "dropdown-item" href="{% url 'acervo:upload_artigo' %}">Artigo</a></li>
                <li><a class = "dropdown-item" href="{% url 'acervo:upload_link' %}">Link</a></li>
            </ul>
        </div>
    </main>
{% endblock %}
