{% extends "acervo/base.html" %}

{% load static %}


{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div  class = "card shadow-sm p-4" style="width: 400px; border-radius: 10px;">
    <h2 class="text-center mb-4">Criar conta</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.first_name.label_tag }}<br>
        {{ form.first_name }} <br>
        {{ form.email.label_tag }} <br>
        {{ form.email }} <br>
        {{ form.username.label_tag }}<br>
        {{ form.username }}<br>
        {{ form.password1.label_tag }}<br>
        {{ form.password1 }}<br>
        {{ form.password2.label_tag }}<br>
        {{ form.password2 }}<br>
    </div>
    <button type="submit">Cadastrar</button>
    <button type="reset">Limpar</button>
    <a href="/acervo/login/">Já tenho uma conta</a>
</form>

{% endblock %}