{% extends "acervo/base.html" %}

{% load static %}

{% block title %}Cadastro — Povos Indígenas do RN{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div  class = "card shadow-sm p-4" style="width: 450px; border-radius: 10px;">
    <h2 class="text-center mb-4">Criar conta</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.first_name.label_tag }}
        <div class="input-group">
            {{ form.first_name }}
            <span class="input-group-text">
                <i class="bi bi-person"></i>
            </span>
        </div>
    <div class="mb-3">
        {{ form.username.label_tag }}
        <div class="input-group">
            {{ form.username }}
            <span class="input-group-text">
                <i class="fa fa-user"></i>
            </span>
        </div>
    </div>
    <div class="mb-3">
        {{ form.email.label_tag }}
        <div class="input-group">
            {{ form.email }}
            <span class="input-group-text">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="mb-3">
        {{ form.password1.label_tag }}
        <div class="input-group">
            {{ form.password1 }}
            <span class="input-group-text">
                <i class="bi bi-lock"></i>
            </span>
        </div>
    </div>
    <div class="mb-3">
        {{ form.password2.label_tag }}
        <div class="input-group">
            {{ form.password2 }}
            <span class="input-group-text">
                <i class="bi bi-lock-fill"></i>
            </span>
        </div>
    </div>
</div>

    <button type="submit" class="btn btn-success-gradient w-100" style="background-color:#1A4623; color:white;">Cadastrar</button>
</form>
<p class="text-center mt-3">
    Já tenho uma conta! <a href="{% url 'acervo:login' %}">Fazer login</a>
</p>
{% endblock %}