{% extends "acervo/base.html" %}

{% load static %}

{% block title %}Login — Povos Indígenas do RN{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div  class = "card shadow-sm p-4" style="width: 400px; border-radius: 10px;">
    <h2 class="text-center mb-4">Login</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.username.label_tag }}
         <div class="input-group">
                {{ form.username }}
                <span class="input-group-text">
                    <i class="fa fa-user"></i>
                </span>
        </div>    
    </div>
    <div class="mb-3">
        {{ form.password.label_tag }}
        <div class="input-group">
            {{ form.password }}
            <span class="input-group-text">
                <i class="fa-solid fa-key"></i>
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-success-gradient w-100" style="background-color:#1A4623; color:white;">Entrar</button>
</form>
<p class="text-center mt-3">
    Não tem uma conta? <a href="{% url 'acervo:cadastro' %}">Cadastre-se!</a>
</p>
</div>
</div>
{% endblock %}