{% extends 'acervo/base.html' %}
{% block title %}Fórum — Povos Indígenas do RN{% endblock %}

{% block content %}
<main class="inicio min-vh-100">
    <div class="container-fluid px-3 px-md-5 py-4">

        <h2 class="titulo-inicio mb-4 fw-bold">Fórum de discussões</h2>

        {% if topicos %}
            {% for topico in topicos %}
                <div class="card shadow-sm mb-4 w-100" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            {% if topico.autor.foto_perfil %}
                                <img src="{{ topico.autor.foto_perfil.url }}"
                                     class="rounded-circle me-2"
                                     style="width: 42px; height: 42px; object-fit: cover;">
                            {% else %}
                                <i class="bi bi-person-circle text-secondary"
                                   style="font-size:30px;"></i>
                            {% endif %}

                            <p class="text-muted m-0">
                                <strong>{{ topico.autor }}</strong> —
                                {{ topico.criado|date:"d/m/Y H:i" }}
                            </p>
                            {% if topico.imagem %}
                            <span class="badge text-white ms-2 mt-1" style="background: linear-gradient(150deg, #2ecc71, #1e8449);"><i class="bi bi-image"></i> Imagem</span>
                            {% elif topico.artigo %}
                            <span class="badge text-white ms-2 mt-1"style="background: linear-gradient(150deg, #2ecc71, #1e8449);"><i class="bi bi-file-earmark-text"></i> Artigo</span>

{% elif topico.link %}
    <span class="badge text-white ms-2 mt-1"
          style="background: linear-gradient(135deg, #3a8a3a, #2f7d2f);">
        <i class="bi bi-link-45deg"></i> Link
    </span>

{% elif topico.videos %}
    <span class="badge text-white ms-2 mt-1"
          style="background: linear-gradient(135deg, #3a8a3a, #2f7d2f);">
        <i class="bi bi-camera-video"></i> Vídeo
    </span>

{% elif topico.audio %}
    <span class="badge text-white ms-2 mt-1"
          style="background: linear-gradient(135deg, #3a8a3a, #2f7d2f);">
        <i class="bi bi-mic"></i> Áudio
    </span>
{% endif %}
                        </div>
                        <h4 class="fw-bold mb-1">{{ topico.titulo }}</h4>

                        {% if topico.imagem %}
                            <img src="{{ topico.imagem.imagem.url }}"
                                class="rounded mb-3"
                                style="max-width: 320px; max-height: 360px; object-fit: contain;">
                        {% endif %}

                        {% if topico.videos %}
                            <video controls class="w-100 rounded mb-3">
                                <source src="{{ topico.videos.video.url }}">
                            </video>
                        {% endif %}

                        {% if topico.audio %}
                            <audio controls class="w-100 mb-3">
                                <source src="{{ topico.audio.arquivo.url }}">
                            </audio>
                        {% endif %}

                        {% if topico.link %}
                            <a href="{{ topico.link.url }}" target="_blank"
                               class="btn btn-outline-info mb-3">
                                Abrir link <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                        {% endif %}

                        {% if topico.artigo %}
                            <a href="{{ topico.artigo.arquivo.url }}" target="_blank"
                                class="btn btn-outline-primary mb-3">
                                Abrir artigo
                            </a>
                        {% endif %}
                        <p style="white-space: pre-line;">{{ topico.discussao }}</p>
                        <form action="{% url 'forum:detail_topico' topico.id %}" method="get" class="d-inline">
                            <button type="submit"class="btn mt-3"style="background: linear-gradient(150deg, #4facfe, #235fd1); color: white; border:none;">
                                <i class="bi bi-chat-left-text"></i> Ver comentários
                            </button>
                        </form>

    
                        {% if user.is_authenticated and user.is_moderador or user.is_superuser %}
                            <form action="{% url 'forum:excluir_topico' topico.id %}"
                                  method="post"
                                  class="d-inline"
                                  onclick="return confirm('Tem certeza que deseja excluir este tópico?');">
                                {% csrf_token %}
                                <button type="submit"
                                        class="btn btn-danger mt-3"
                                        style="background: linear-gradient(135deg, #ff4e50 #c31432); color: white; border:none;">
                                    <i class="bi bi-trash"></i> Excluir tópico
                                </button>
                            </form>
                        {% endif %}
                        

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-muted">Nenhum tópico de discussão disponível.</p>
        {% endif %}

    </div>
</main>
{% endblock %}




