{% extends 'acervo/base.html' %}
{% block title %}Fórum — Povos Indígenas do RN{% endblock %}

{% block content %}
<main class="inicio min-vh-100">
    <div class="container-fluid px-3 px-md-5 py-4">

        <h2 class="titulo-inicio mb-4 fw-bold">Fórum</h2>

        {% if topicos %}
            {% for topico in topicos %}

                <div class="card shadow-sm mb-4 w-100" style="border-radius: 14px;">

                    <div class="card-body">

                        

                        <div class="d-flex align-items-center mb-3">


                    {% if topico.autor.foto_perfil.url %}
                        <img src="{{ topico.autor.foto_perfil.url }}"
                                class="rounded-circle me-2"style="width: 42px; height: 42px; object-fit: cover;">
                    {% else %}

                        <i class="bi bi-person-circle text-secondary" style="font-size:30px; "></i>
                    {% endif %}


                <p class="text-muted m-0 ">
                    <strong>{{ topico.autor }}</strong> —
                     {{ topico.criado|date:"d/m/Y H:i" }}
                </p>
            </div>
                <h4 class="fw-bold mb-1">{{ topico.titulo }}</h4>
                        {% if topico.imagem %}
                            <img src="{{ topico.imagem.imagem.url }}"class="rounded mb-3"style="max-width: 320px; max-height: 360px; object-fit: contain;">
                        {% endif %}
                        {% if topico.videos %}
                            <video controls class="w-100 rounded mb-3">
                                <source src="{{ topico.videos.video.url }}">
                            </video>
                        {% endif %}

                        {% if topico.artigo %}
                            <a href="{{ topico.artigo.arquivo.url }}" target="_blank"
                                class="btn btn-outline-primary mb-3">
                                Abrir artigo
                            </a>
                        {% endif %}

                        <p style="white-space: pre-line;">{{ topico.discussao }}</p>

                        <a href="{% url 'forum:topicos' %}">
    <button type="button"
        class="btn btn-success fw-semibold mt-3"
        style="background: linear-gradient(135deg, #3a8a3a, #2f7d2f);">
        Ver discussão
    </button>
</a>

                    </div>
                </div>

            {% endfor %}
        {% else %}
            <p class="text-muted">Nenhum tópico de discussão disponível.</p>    
        {% endif %}
    </div>
</main>
{% endblock %}



