{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Povos Indígenas do RN{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
</head>
<body>
    <header class="header">
        <div class ="logo">
            <img src ="{% static 'dashboard/logo.png' %}" alt="Logo">
            <h1>Povos Indígenas do Rio Grande do Norte</h1>
        </div>
        <nav class="nav">
            <a href="/">INÍCIO</a>
            <a href="/povos/">POVOS INDÍGENAS</a>
            <a href="/conhecimentos/">CONHECIMENTOS TRADICIONAIS</a>
            <a href="/acervo/">ACERVO</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>