{% extends "dashboard/base.html" %}

{% load static %}


{% block content %}

    <main class="inicio">
        <h2 class="titulo-inicio">Início</h2>

        <div class="slidesh">
            <div class="slide fade">
                <img src="{% static 'dashboard/slide1.jpg' %}" alt="Imagem 1">
            </div>

            <div class="slide fade">
                <img src="{% static 'dashboard/slide2.jpg' %}" alt="Imagem 2">
            </div>

            <div class="slide fade">
                <img src="{% static 'dashboard/slide3.jpg' %}" alt="Imagem 3">
            </div>
            <div class="slide fade">
                <img src="{% static 'dashboard/slide4.jpg' %}" alt="Imagem 3">
            </div>
            <div class="slide fade">
                <img src="{% static 'dashboard/slide5.png' %}" alt="Imagem 3">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="texto-inicio">
            <h3> {{ textos.objetivo.titulo }}</h3>
            <p>{{ textos.objetivo.conteudo }}</p>
        </div>
    </main>
        <div class="texto-inicio1">
            <h3>{{ textos.desenvolvimento.titulo }}</h3>
            <p>{{ textos.desenvolvimento.conteudo }}</p>
            <h3> {{ textos.importancia.titulo }} </h3>
            <p>
                {{ textos.importancia.conteudo }}
            </p>
        </div>

    <script> 
        let slideIndex = 1; //slides
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let slides = document.getElementsByClassName("slide");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }

            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
        }

        slides[slideIndex-1].style.display = "block";
    }
    document.addEventListener("DOMContentLoaded", showSlides);
    </script>
{% endblock %}

