{% extends "dashboard/base.html" %}

{% load static %}


{% block content %}

    <main class="inicio">
        <h2 class="titulo-inicio">Início</h2>

        <div class="slidesh">
            <div class="slide fade">
                <img src="{% static 'dashboard/slide1.jpg' %}" alt="Imagem 1">
            </div>

            <div class="slide fade">
                <img src="{% static 'dashboard/slide2.jpg' %}" alt="Imagem 2">
            </div>

            <div class="slide fade">
                <img src="{% static 'dashboard/slide3.jpg' %}" alt="Imagem 3">
            </div>
            <div class="slide fade">
                <img src="{% static 'dashboard/slide4.jpg' %}" alt="Imagem 3">
            </div>
            <div class="slide fade">
                <img src="{% static 'dashboard/slide5.png' %}" alt="Imagem 3">
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="texto-inicio">
            <h3>Qual o objetivo desse site?</h3>
            <p>
                A invenção da escrita marcou um momento crucial na preservação e transmissão do conhecimento humano. A necessidade de registrar e conservar os saberes e costumes levou à criação de sites dedicadas ao cuidado e organização de documentos e memórias. No contexto dos povos indígenas do Rio Grande do Norte, o desenvolvimento deste site surge como uma resposta a essa necessidade histórica, proporcionando um espaço digital para registrar a herança cultural e histórica dos povos tradicionais do RN. Nosso objetivo é garantir que o conhecimento e histórias desses povos não se percam no tempo, mas sejam preservadas e compartilhadas de maneira acessível.
            </p>
            <h4>Por que desenvolvemos esse site?</h4>
            <p>
                Esse site foi desenvolvido com o intuito de atender ao aumento da demanda por informações e registros sobre as culturas indígenas, que muitas vezes são esquecidas ou mal compreendidas. Ao reunir informações valiosas sobre a história, a cultura e os desafios enfrentados pelos povos indígenas do Rio Grande do Norte, buscamos não apenas preservar esse conhecimento, mas também promover uma maior compreensão e valorização. Este espaço serve como um repositório virtual que apoia o reconhecimento e o respeito por estas comunidades, refletindo a importância de manter viva a memória  cultural.
            </p>
            <h5>Qual a importância deste site?</h5>
            <p>
                Além de sua função como arquivo digital, o site tem o papel de facilitar a aproximação entre diferentes grupos de pessoas. Ao oferecer acesso a informações bem organizadas, pretendemos estimular a curiosidade e o interesse em conhecer mais sobre os povos indígenas e suas tradições. Acreditamos que, ao promover a educação e a informação, podemos contribuir para um mundo onde o conhecimento cultural dos povos indígenas do RN é protegido e lembrado.
            </p>
        </div>
    </main>

    <script> 
        let slideIndex = 1; //slides
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let slides = document.getElementsByClassName("slide");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }

            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
        }

        slides[slideIndex-1].style.display = "block";
    }
    document.addEventListener("DOMContentLoaded", showSlides);
    </script>
{% endblock %}

